.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 20px;
    background: #79AC78;
    margin-right: 4px;
}

.container {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

.item:last-child {
    margin-bottom: 0;
}

.button {
    border: 0;
    padding: 8px 12px;
    border-radius: 50%;
    background: #618264;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #395C38;
}

.button:active {
    background-color: #79AC78;
}

.span {
    margin-right: 12px;
}