.title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.container {
    border-radius: 20px;
    border: 1px solid #D0E7D2;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(20px);
    padding: 60px 16px;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 120px;
}

.text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.link {
    display: block;
    margin: 0 auto;
    border: 0px;
    max-width: fit-content;
    padding: 12px 48px;
    color: #f4f4f4;
    cursor: pointer;
    border-radius: 0px 100px;
    background: #618264;

    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;

    transition-property: background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 140px;
}

.link:hover {
    background-color: #395C38;
}

.link:active {
    background-color: #79AC78;
}