.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.nav {
    display: flex;
    max-width: 1440px;
    padding: 40px 32px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-radius: 0px 0px 10px 10px;
    border-right: 1px solid #D0E7D2;
    border-bottom: 1px solid #D0E7D2;
    border-left: 1px solid #D0E7D2;
    background: linear-gradient(90deg, rgba(97, 130, 100, 0.60) 0%, rgba(121, 172, 120, 0.60) 100%);
}

.link {
    margin-right: 8px;
}

.contacts {
    margin-right: 8px;
}

.containerTwo {
    display: flex;
    align-items: stretch;
}

@media screen and (max-width: 767px) {
    .containerTwo {
        flex-direction: column;
    }

    .contacts {
        margin-right: 0;
        margin-left: auto;
    }

    .nav {
        align-items: flex-start;
    }
}