.title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.container {
    border-radius: 20px;
    border: 1px solid #D0E7D2;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(20px);
    padding: 60px 16px;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 120px;
}

@media screen and (max-width: 768px) {
    .paddingContainer {
        padding: 0 16px;
    }

    .title {
        font-size: 16px;
        font-weight: 500;
    }

    .container {
        margin-top: 80px;
    }
}